{% extends 'movies/base.html' %}

{% block content %}
        <form action="#">
            <div class="mb-3">
                <label for="movie_name" class="form-label">Nome do Filme </label>
                <input   type="text" class="form-control" id="movie_name" name="movie_name">
            </div>
            <div class="mb-3">
                <label for="publish_date" class="form-label"> Data de Lançamento</label>
                <input type="date" class="form-control" id="publish_date" name="publish_date">
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Selecionar Categoria" name="category">
                    <option selected> Escolha a categoria </option>
                    <option value="1">Categoria 1</option>
                    <option value="2">Categoria 2</option>
                    <option value="3">Categoria 3</option>
                    <option value="4">Categoria 4</option>
                </select>
            </div>
            <div>

            </div>
            <div>
                <input type="submit" value="enviar">
            </div>
        </form>
{% endblock %}