{% extends 'movies/base.html' %}

{% block content %}
        <form action="#" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="movie_name" class="form-label">Nome do Filme </label>
                <input   type="text" class="form-control" id="movie_name" name="movie_name">
            </div>
            <div class="mb-3">
                <label for="publish_date" class="form-label"> Data de Lançamento</label>
                <input type="date" class="form-control" id="publish_date" name="publish_date">
            </div>
            <div class="mb-3">
                <select class="form-select" aria-label="Selecionar Categoria" name="category">
                    {% for category in categories %}
                        <option value="{{category.id}}">{{category.category_name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>

            </div>
            <div>
                <input type="submit" value="enviar">
            </div>
        </form>
{% endblock %}