{% extends 'movies/base.html' %}
{% load static %}
{% block content %}

<table class="table  table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Data de Publicação</th>
            <th scope="col">Categoria</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>
    <tbody>
        {% for movie in movies %}
            <tr>
                <th scope="row"> {{movie.id}}</th>
                <td>{{movie.movie_name}}</td>
                <td>{{movie.publish_date}}</td>
                <td>{{movie.category}}</td>
                <td> <a href="{% url 'movies:delete_movie' movie.id %}" class="btn btn-outline-danger deletar-filme"> deletar </a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<script src="{% static 'movies/deletar_filme.js' %}"></script>

{% endblock %}