body {
    padding-top: 80px;
  }

form{
    margin: auto 2% auto 2%;
}
  
/* @media (max-width: 979px){ aqui deveria remover o espaço no responsivo mas só atrapalhou
    body{
        padding-top: 0px;
    }
} */